In [13]:
from bs4 import BeautifulSoup
import pandas as pd

# Carregar o conteúdo do arquivo HTML
with open('steamdb.html', 'r', encoding='utf-8') as file:
    html_content = file.read()

# Parsear o HTML
soup = BeautifulSoup(html_content, 'html.parser')

# Encontre a tabela desejada (aqui assumimos que é a primeira tabela)
table = soup.find('table')

# Extrair os cabeçalhos
headers = [header.text.strip() for header in table.find_all('th')]

# Extrair as linhas da tabela
rows = []
for row in table.find_all('tr')[1:]:  # Ignora a primeira linha se for de cabeçalho
    cells = row.find_all('td')
    rows.append([cell.text.strip() for cell in cells])

# Criar um DataFrame com os dados
df = pd.DataFrame(rows, columns=headers)

In [14]:
df.head()

,,,Name,%,Price,Rating,Release,Ends,Started
0,,,Age of Wonders 4\n\nPlay For Free\nall-time lo...,-35%,"R$ 129,99",79.52%,May 2023,in 3 days,4 days ago
1,,,"ICARUS\n\nPlay For Free\nall-time low: R$ 44,2...",-50%,"R$ 50,99",70.52%,Dec 2021,in 3 days,4 days ago
2,,,Age of Water\n\nPlay For Freenew historical low,-50%,"R$ 74,50",62.71%,Apr 2024,in 3 days,4 days ago
3,,,Age of Mythology: Retold\n\nDaily DealTop Sell...,-20%,"R$ 79,99",86.78%,Sep 2024,in 3 hours,5 days ago
4,,,Baldur's Gate 3\n\nWeek Long DealTop Seller,-20%,"R$ 159,99",95.98%,Aug 2023,in 3 hours,7 days ago

In [15]:
# excluir a primeira e a segunda coluna que não possuem nome e nem dados
df = df.drop(columns=['', ''])
df.head()

,Name,%,Price,Rating,Release,Ends,Started
0,Age of Wonders 4\n\nPlay For Free\nall-time lo...,-35%,"R$ 129,99",79.52%,May 2023,in 3 days,4 days ago
1,"ICARUS\n\nPlay For Free\nall-time low: R$ 44,2...",-50%,"R$ 50,99",70.52%,Dec 2021,in 3 days,4 days ago
2,Age of Water\n\nPlay For Freenew historical low,-50%,"R$ 74,50",62.71%,Apr 2024,in 3 days,4 days ago
3,Age of Mythology: Retold\n\nDaily DealTop Sell...,-20%,"R$ 79,99",86.78%,Sep 2024,in 3 hours,5 days ago
4,Baldur's Gate 3\n\nWeek Long DealTop Seller,-20%,"R$ 159,99",95.98%,Aug 2023,in 3 hours,7 days ago

In [18]:
# Substituir o '\n' por um espaço em branco na coluna 'Name'
df['Name'] = df['Name'].str.replace('\n', ' ')

In [19]:
df.to_csv('tabela_extraida.csv', index=False)  # Para salvar como CSV